.icon-google {
    width: 290px;
    margin-top: 15%;
    margin-left: 40%;
    background: transparent;
    
}

.form-input {
    margin-left: 32%;
}

.inputText {
    margin-top: 2%;
    border-radius: 46px ;
    border: 1px solid rgb(228, 228, 228);
    padding: 1%;
}


.btn-success {
    background-color: rgb(248, 248, 248);
    color: rgb(67, 67, 67);
    border: none;
    font-size: small;
}

.searchButton {
    margin-left: 13%;
}

.feelingButton {
    margin-left: 2%;
}